<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="socials text-center">
                    <ul>
                      <li><a href="https://www.facebook.com/markjames.frago/" target="_blank"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                      <li><a href="https://www.instagram.com/jamesfrago19/" target="_blank"><span class="ico-circle"><i class="ion-social-instagram"></i></span></a></li>
                      <li><a href="https://twitter.com/mrkjmsfrg" target="_blank"><span class="ico-circle"><i class="ion-social-twitter"></i></span></a></li>
                      <li><a href="https://github.com/jamestzy1907" target="_blank"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                    </ul>
                  </div>
                <div class="copyright-box">
                    <p class="copyright">&copy; {{ year }} Copyright <strong>Portfolio Mark James Frago</strong>. All Rights Reserved</p>
                    <div class="credits">
                        Designed by <!--<a href="https://styvensoft.github.io">-->Jamestzy Official<!--/a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->